{% extends "base.html" %}

{% block content %}
  {% for train in trains %}
  <table align=center border=0 width=700 bgcolor=#eeffbc>
    <tr align=center>
      <td width=200>{{train['departure']}}</td>

      {% if train['delay'] == -1 %}
        <td></td>
      {% else %}
        <td>zpoždění {{train['delay']}} min</td>
      {% endif %}

      <td width=200>{{train['arrival']}}</td>
    </tr>
    <tr align=center>
      <td>{{train['from']}}</td>
      <td>{{train['name']}}</td>
      <td>{{train['to']}}</td>
    </tr>
  </table>
  <br>
  {% endfor %}

{% endblock %}
